
/* Styling & CSS */

/* Landing Page Destkop */

.LandingPageDetskop {
position: absolute;
width: 1440px;
height: 3226px; }
/* Landing Page Destkop End */

/* navigation */
.header{
    background-color: #F1F3FF; 
}

.headnav .row{

    position: absolute;
    width: 1168px;
    height: 36px;
    left: 136px;
    top: 24px;    
}

.headnav .row .col-8{
    width: 550px;
}

.col-4 .navbar .row {
    position: absolute;
    height: 36px;
    top: 8px;
    width: 530px;

}

.col-4 .navbar .row button {
    position: absolute;
    top: -10px;
    left:400px
}
.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color: #F1F3FF;
    
    
    
}

.navbar p {

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.navbar button {
    background-color: #5CB85F;
    padding: 8px 12px;
    font-family: Helvetica;
    margin-right: 136px; 
    color: #FFFFFF;
    border: none;
   
    box-sizing: border-box;
}

.navbar button b {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    width: 57px;
    height: 20px;
}





/* hero-image */
   .hero-text h1 {
    position:relative;
    width: 568px;
    height: 108px;
    left: 136px;
    top: 177px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.hero-text p {
    position: absolute;
    width: 468px;
    height: 60px;
    left: 136px;
    top: 301px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}


.hero-text button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    position: absolute;
    left: 136px;
    top: 377px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
}

.hero-text h2 {
    position: sticky;
    width: 704px;
    height: 407px;
    left: 736px;
    top: 97px;

}

/* row img. women dan checklis */
.OurServis {
   
    width: 1027px;
    height: 428px;
    left: 206px;
    
    
}
.col-6 .imgserv {
    
    position:absolute;
    left: 206px;
    top: 604px;
}
.col-6 .desc {
   
    position: absolute;
    width: 468px;
    height: 356px;
    left: 765px;
    top: 640px;
}
.col-6 h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
          
}
  
.col-6 h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 468px;
    height: 60px;
    

}

.col-6 p {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 295px;
    height: 24px;
   
    /* text */
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
  
      

/* Why Us Frame*/

.WhyUs {
position: absolute;
width: 1168px;
height: 308px;
left: 136px;
top: 1132px;   
}

.col-9 h3{
    
    height: 36px;
    left: 9.44%;
    right: 58.06%;
    top: 1132px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.col-9 h6 {
   
    width: 468px;
    height: 20px;
    left: 136px;
    top: 1184px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.row .row-cols-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;


    width: 1168px;
    height: 196px;
    left: 136px;
    top: 1244px;
}
.border {
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 268px;
    height: 196px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
   
}

/* Why Us Frame End*/

/* Testimonial */
/* carousel */
.col-md-auto p{
    position: absolute;
    height: 36px;
    Left: 466px;
    top: 1540px;
    Width: 468px;
    Height: 36px;
    text-align: center;
    
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
    .col-md-auto h3{
    position: absolute;
    width: 468px;
    height: 20px;
    left: 466px;
    top: 1592px;
    text-align: center;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
    
.Testimonial {
    
    position: absolute;
    width: 1921px;
    height: 270px;
    left: -241px;
    top: 1652px;
}       

   
.Testimonial .item {
        
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    gap: 32px;
    left: 1061px;
    top: 1652px;   
}       

.testi1b .container .row{
    
    flex-direction: row;  
}

.col-lg-4 h6 {
       
    position: absolute;
    width: 80px;
    height: 80px;
}       
    
.testi1b .col-6 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    left: 204px;
    top: 69px;
    height: 132px;
}

.testi1b .col-6 h5 {
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;    
}

.testi1b .col-6 h6 {
    width: 415px;
    height: 20px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}


.testi1b .col-4{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 46px;
    top: 95px;
}
/*Testimonial End  */

/*CTA Banner*/
.text-center {
    position: absolute;
    width: 1168px;
    height: 326px;
    left: 136px;
    top: 2078px;
}

.text-center .card-title {
    position: absolute;
    left: 270px;
    top: 64px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;     
    } 

.text-center .card-text{
   
    width: 468px;
    height: 40px;
    left: 342px;
    top: 134px;
    text-align: center;
    
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.text-center .btn-primary {

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    position: absolute;
    width: 140px;
    height: 36px;
    left: 514px;
    top: 226px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;

    /* text */
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}      

.CTA_Banner .container .button {
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    position: absolute;
    width: 140px;
    height: 36px;
    left: 650px;
    top: 2304px;
}


*//*CTA Banner End*/

/* row FAQ */
.rowFAQ .col-6 {
    position:absolute;
    width: 1168px;
    height: 344px;
    top: 2504px;    
}

/* FAQ */

.rowFAQ {
    position: absolute;
    width: 1168px;
    height: 344px;
    top: 2504px;
}

    /*~~~~ Text~~~~*/
.rowFAQ .container .row .col-6 .descFAQ {
    position: absolute;
    width: 368px;
    height: 72px;
    left: 136px ;
    
}   

.rowFAQ .container .row .col-6 .descFAQ h6{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.rowFAQ .container .row .col-6 .descFAQ p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

    /* ~~~List FAQ~~~ */
.col-6 .accordion {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align:right;
    padding: 0px;
    gap: 16px;

    width: 668px;
    height: 344px;
    left: 636px;    
}
.accordion-item {
    border-color:#D4D4D4;   
}

.accordion-button .collapsed{
    width: 668px;
    height: 56px;
}

.container .mt-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 86px;
    
    
    position: absolute;
    width: 1141px;
    height: 128px;
    top: 2998px;
    left: 121px;   
}

.mb-4 .address {
    position: absolute;
    width: 268px;
    height: 112px;
}

.mb-4 .navigation {
    position: absolute;
    Left :354px;
}



.mb-4 .sosmed {
    position: absolute;
    width: 268px;
    height: 68px;
    Left : 519px;
}

.mb-4 .copyright {
    position: absolute;
    width: 268px;
    height: 70px;
    Left :873px;
}

/* Media Query */

@media screen and (max-width : 360px ) {
    .LandingPageDetskop {
    position: absolute;
    left: 0px;
    top: 0px;  
    width: 360px;

    }

    .header {
        position: absolute;
        width: 360px;
        height: 657px;
        left: 0px;
        top: 0px;
        


    }
    .headnav  .row {
       position: absolute;
       width: 100px;
       height: 34px;
        height: 24px;
        left: 16px;
        
    }
    .headnav  .row .col-4 {

    }

    .hero-image .hero-text h1 {
       
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 328px;
    height: 292px;
    left: 16px;
    top :90px
    }

    .hero-image .hero-text p {
        width: 328px;
        height: 60px;
        left: 16px;
        top : 322px;
        
    }
    .hero-image .hero-text button {

        position: absolute;
width: 140px;
height: 36px;
left: 16px;
top: 398px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;
    }
    .hero-image .hero-text h2 {


    
    position: absolute;
width: 344.22px;
height: 199px;

top: 458px;}

    

            .hero-text h2 {
                position: absolute;
width: 344.22px;
height: 199px;
left: 16px;
top: 458px;

            }
}
/* @media screen and (max-width : 360px ){
    .headnav .row .col-8  {
       
width: 100px;
height: 34px;
left: 300px;

    }} */